/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width:100%;
  max-height:100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* added to HTML5 Boilerplate
   It means that width/height includes padding, border and margin */
* {
  box-sizing: border-box;
}

/*********************************************
 JSimE Content Styles
*********************************************/
/* -------------------------------------------
            Pagination and Page Regions
   ------------------------------------------- */
@page:first {
  @top-center {
    content: none;
  }
}
@page {
  size: A4 /* A4 US-Letter */ portrait;
  margin: 2.5cm 2.5cm 2cm 2.5cm;

  @top-center {
    content: string(articleTitleAbbr);
    font-size: 75%;
  }
  @bottom-right {
    content: string(articleNumber) ":" counter(page) " / " string(articleNumber) ":" counter(pages);
    font-size: 75%;
    padding-top: 1em;
  }
  /*
  @bottom-left {
    content: string(articleURL);
    font-size: 75%;
    padding-top: 1em;
  }
   */
  @footnotes {
    border-top: thin solid black;
    border-clip: 100px;
    margin: 0.6em 0 0 0;
    padding: 0.3em 0 0 0;
  }
}

@media screen {
  body {
    font: 1.1rem/1.5 "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
    margin: 0 auto;
    padding: 10px;
    max-width: 47em;
    hyphens: auto;
  }
  body.feedbackMode {
    margin-left: 0;
  }
  .two-column {
    columns: 2;
    column-gap: 0.25in;
  }
  h1#article-title {
    hyphens: none;
  }
  main > section > h1,
  section[role="doc-abstract"] > h1 {
    font-size: 1.5rem;
  }
  main > section > section > h1 {
    font-size: 1.3rem;
  }
  main > section > section > section > h1 {
    font-size: 1.1rem;
  }
  p + p {
    margin-top: 1em;
  }
  ul {
    padding-left: 1em;
  }
  code,
  pre,
  /* adjusting prism.css settings */
  code[class *= "language-"],
  pre[class *= "language-"] {
    font-size: 90%;
    line-height: 1.3;
  }
  button {
    background-image: linear-gradient(to bottom, #f2f5f6, lightgreen);
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-image: none;
    background-color: lightgreen;
  }
}

@media print {
  body {
    font: 10pt/1.2 "PT Serif", "TimesNewRoman", "serif";
    text-align: justify;
    hyphens: auto;
  }
  header {
    page-break-after: avoid;
  }
  .suppressInPDF,
  .iframe-container {
    display: none;
  }
  main {
    columns: 2;
    column-gap: 0.25in;
  }
  h1#article-title {
    hyphens: none;
  }
  #front-matter,
  table {
    column-span: all;
  }
  section[role="doc-abstract"] {
    margin-bottom: 1em;
  }
  main > section > h1,
  section[role="doc-abstract"] > h1 {
    font-size: 1.1rem;
  }
  main > section > section > h1 {
    font-size: 1rem;
  }
  main > section > section > section > h1 {
    font-size: 0.9rem;
  }
  p {
    margin: 0;
  }
  p + p,
  .top + p,
  .column-top + p,
  .column-top-corner + p,
  .bottom + p,
  .column-bottom + p,
  .column-bottom-corner + p {
    text-indent: 1.5em;
  }
  ol {
    box-sizing: content-box;
    margin: 0.7em 0;
    padding-left: 2em;
  }
  ol > li::marker {
    width: 2em;
    text-align: right;
  }
  ul {
    box-sizing: content-box;
    margin: 0.7em 0;
    padding-left: 2em;
  }
  ul > li::marker {
    width: 1em;
    text-align: right;
  }
  li {
    list-style-position: outside;
  }

  h1,
  table,
  figure {
    page-break-inside: avoid;
  }

  img {
    prince-image-resolution: auto;
  }
  blockquote.stylish {
    display: none;
  }

  /* adjusting prism.css settings */
  code[class *= "language-"],
  pre[class *= "language-"] {
    font-size: smaller;
    line-height: 1.2;
  }

  ::footnote-call {
    content: "[" counter(footnote) "]";
    font-size: 75%;
    vertical-align: super;
    line-height: none
  }
  ::footnote-marker {
    content: "[" counter(footnote) "]";
    list-style-position: inside;
    margin: 0;
    padding: 0 0.3em 0 0;
  }
  .fn {
    float: footnote;
    font-size: 75%;
    margin: 0.3em 0 0 1.3em;
    padding: 0;
    text-indent: 0;
    content: prince-script(replaceFootnote, content());
  }

  /* page floats */
  .column-top-corner {
    float: column-top-corner;
    margin-bottom: 2em
  }
  .column-bottom-corner {
    float: column-bottom-corner;
    margin-top: 2em
  }
  .column-top {
    float: column-top;
    margin-bottom: 2em
  }
  .column-bottom {
    float: column-bottom;
    margin-top: 2em
  }
  .top {
    float: top;
    margin-bottom: 2em
  }
  .bottom {
    float: bottom;
    margin-top: 2em
  }
  .top figcaption,
  .bottom figcaption {
    margin-left: 2em;
    margin-right: 2em
  }

  /* multi-line table and figure captions */
  .multi-line-pdf {
    text-align: left;
  }

  /* mathematical content */
  .math-span {
    font-family: "Latin Modern Math";
  }
}

body {
  color: black;
  background-color: white;
}
body > header > small {
  display: block;
  text-align: center;
}

h1 {
  margin-top: 0.67em;
  margin-bottom: 0.33em;
}

#release-status {
  margin-top: 0.2em;
  text-align: center;
  font-size: 80%;
  background-color: lightgreen;
}

#article-number {
  display: none;
  string-set: articleNumber content()
}

#articleURL {
  string-set: articleURL content()
}

h1#article-title {
  text-align: center;
  font-size: 180%;
  line-height: 1.2;
  margin-top: 0.2em;
}
#article-title-abbr {
  display: none;
  string-set: articleTitleAbbr content()
}

address {
  font-style: normal;
}
address > div[property] {
  text-align: center;
}
address > div[property="name"] {
  font-size: 150%;
}
address > div[property="email"] {
  font-size: 100%;
}
/* single author */
#front-matter > address > div[property="affiliation"] {
  text-align: center;
  font-size: 100%;
  margin-top: 0.5em;
}
/* multiple authors */
#authors > address {
  display: inline-block;
  width: 49%;
  margin-bottom: 0.5em;
}
#authors > address sup {
  font-size: 60%;
}
#authors > address sup > img {
  margin-left: 0.5em;
}
#authors > div.affiliation {
  font-size: 100%;
  text-align: center;
  margin-top: 0.5em;
}
#authors > div.affiliation sup {
  font-size: 90%;
}

#acm-subject-categories {
  margin-top: 2em;
}
#acm-subject-categories > h1,
#keywords > h1 {
  font-size: 120%;
}
#acm-subject-categories > ul,
#keywords > ul {
  margin-top: 0;
}

p.indented {
  margin-left: 2em;
}
/*
li > p  {
  text-indent: 0;
}
*/
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  margin-right: 0.2em;
}
.list-inline.comma-separated > li:not(:last-child):after {
  content: ",";
}

section[role="doc-bibliography"] ul {
  list-style: none;
}
section[role="doc-bibliography"] li {
  /* text-indent: 1.5em hanging; */
  text-indent: -1em;
  margin-bottom: 3px;
}

#copyright-info {
  font-size: smaller;
}
#copyright-info > h1 {
  font-size: 1.2em;
}

table {
  border-collapse: collapse;
  margin: 1em auto;
  table-layout: fixed;
}
table,
td,
th {
  border: thin solid black;
  padding: 5px;
}
thead,
th {
  background: silver;
}
table > caption {
  margin-bottom: 0.7em;
}

figure {
  margin: 1em auto;
  text-align: center;
}
div.table figure {
  margin: 0;
}
figcaption {
  margin-top: 0.7em;
}
.multi-line-html {
  text-align: left;
}

.definition,
.theorem {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

blockquote.stylish {
  position: relative;
  font: 1.3rem/1.5 "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 1.2em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 0;
  padding-left: 15px;
  /* border-left: 3px solid #ccc; */
}
blockquote.stylish::before {
  content: "\201C"; /* Unicode for Left Double Quote */
  position: absolute;
  left: -20px;
  top: -30px;
  /* Font */
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: grey;
}
blockquote.float-right {
  float: right;
  width: 50%;
  margin-top: 0.8em;
  margin-left: 2em;
}

#PDF {
  display: none;
}
#feedback {
  display: none;
}
.hidden {
  display: none;
}


.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 66%;  /* aspect ratio = height / width */
	background: aliceblue;
}
.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/***** counters *****/
main {
  counter-reset: sections;
}
main > section {
  counter-reset: sub-sections;
}
main > section > section {
  counter-reset: sub-sub-sections;
}
main > section:not([role="doc-abstract"]):not([role="doc-bibliography"]):not([role="doc-acknowledgements"]):not([role="doc-endnotes"]):not(.no-counter) > h1:before {
  counter-increment: sections;
  content: counter(sections) " "
}
main > section > section:not(.no-counter) > h1:before {
  counter-increment: sub-sections;
  content: counter(sections) "." counter(sub-sections) " ";
}
main > section > section > section:not(.no-counter) > h1:before {
  counter-increment: sub-sub-sections;
  content: counter(sections) "." counter(sub-sections) "." counter(sub-sub-sections) " ";
}

@media only screen and (min-width: 1200px) {
  #toc {  /* table of contents */
    display: block;
    position: fixed;
    top: 12%; left: 3%;
    width: 15em;
	font-size: smaller;
  }
  #toc > h1 {
	font-size: 1.2em;
  }
  #toc > ol {
    padding-left: 0;
  }

  #feedback {
    display: block;
    position: fixed;
    top: 17%;
    right: 3%;
    width: 10em;
  }
  body > aside#feedback > form {
    margin-left: 15em;  /* display: none; */
    transition: margin-left .5s;
  }
  body.feedbackMode > aside#feedback > form {
    text-align: right;
    background-color: yellow /*lemonchiffon*/;
    border-left: 1rem solid lime;
    border-top: 1rem solid lime;
    padding: 8px;
    margin-top: -5em;
    margin-left: -22em;
    transition: margin-left .5s ease-in;
  }
  body.feedbackMode > aside#feedback > form > div.close-btn {
    position: absolute;
    top: -4.5em;
    right: 0.5em;
	margin: 0;
	line-height: 1;
    background-color: brown;
    color: yellow;
    cursor: pointer;
  }
  body.feedbackMode > aside#feedback > form > h1 {
    margin-top: 1em;
    font-size: 1.4em;
  }
  body.feedbackMode > aside#feedback > form > p {
    font-size: 0.85em;
    text-align: justify;
  }
  body.feedbackMode > aside#feedback > form > div {
    margin-bottom: 0.5em;
  }
  body.feedbackMode > aside#feedback > form textarea {
    width: 100%;
    height: 5em;
  }
  body.feedbackMode > aside#feedback > form input:invalid,
  body.feedbackMode > aside#feedback > form textarea:invalid {
    border: dashed red;
  }
  body.feedbackMode > aside#feedback > button {
    display: none;
  }

  #PDF {
    display: inline;
  }
}
